{
  "name": "hookbase-handler",
  "version": "0.1.0",
  "type": "commonjs",
  "private": true,
  "scripts": {
    "dev": "node --watch index.js",
    "start": "node index.js"
  },
  "dependencies": {
    "fastify": "^4.28.1"
  }
}
